.display {
    height: 650px;
    overflow-x: hidden;
    background-color: #f8faff;
    .wrapper {
        position: relative;
        height: 100%;
        .title {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .list-device {
            height: 400px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            transition: 1s;
            .device {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 890px;
                height: 320px;
                box-shadow: 4px 6px 20px rgba(144, 81, 252, 0.25);
                border-radius: 20px;
                background: white;
                padding: 20px;
                margin-right: 150px;
                transition: 0.3s;
                .img-device {
                    flex-shrink: 0;
                    transform: scale(0.8);
                    transition: 0.3s;
                }
                .content-device {
                    margin-left: 25px;
                    .title-device {
                        font-weight: 700;
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    .content {
                        width: 410px;
                        line-height: 1.9;
                    }
                    .see-more-device {
                        margin-top: 50px;
                        width: 164px;
                        height: 43px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
            .active {
                width: 890px;
                height: 400px;
                .img-device {
                    transform: scale(1);
                }
            }
        }
        .chose-device {
            display: flex;
            align-items: center;
            justify-content: center;
            div {
                margin: 45px 10px;
                border-radius: 10px;
                width: 85px;
                height: 8px;
                cursor: pointer;
                background: linear-gradient(
                    190.64deg,
                    #e4acff -35.46%,
                    #b623fb 133.53%
                );
            }
            & > div.active {
                background: linear-gradient(
                    196.91deg,
                    #3cb9ff 0.78%,
                    #b623fb 143.56%
                );
            }
        }
        .img-cat {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
